@import url(./global.css);

/* Layout */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 80px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 632px;
}

/* modules */
.logo-wrapper{
    display: flex;
    align-items: center;
    gap: 11px;
}

.logo-wrapper > p {
    font-size: 22px;
}

.nav-header {
    display: flex;
    gap: 40px;
}

.btn-wrapper-alt-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn-wrapper-alt-1 > button{
    padding: 10px 24px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 568px;
}

.btn-wrapper-alt-2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-wrapper-alt-2 > button {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 10px 24px;
}

.btn-wrapper-alt-2 img {
    width: 24px;
    height: 24px;
}

.btn-wrapper-alt-2 > .live {
    width: 190px;
    color: var(--color-neutral-white);
}

.btn-wrapper-green {
    border-radius: 40px;

    color: #000;
    background-color: var(--color-green);
}

/* state */
.is-active {
    color: var(--color-neutral-white);
}