* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    font-family: "Alexandria", sans-serif;
    list-style: none;
    text-decoration: none;
    
    border: 0;
    background: none;
}

body {
    background-color: #000;
}

li,
p,
a {
    font-size: var(--font-text-1);
    color: var(--clr-neutral-gray-1);
}

a:hover {
    color: var(--clr-neutral-white);
}

button {
    font-size: var(--font-button);
    color: var(--clr-neutral-white);
}

h1 {
    font-size: var(--font-title-1);
    color: var(--clr-neutral-white);
}

h2 {
    font-size: var(--font-title-2);
    font-weight: normal;
    color: var(--clr-neutral-white);
}

h3 {
    font-size: var(--font-subtitle);
    font-weight: normal;
    color: var(--clr-neutral-white);
}

span {
    width: fit-content;
    padding: 12px 20px;
    font-size: var(--font-text-2);
    
    color: var(--clr-green);
    border: 1px solid transparent;
    border-radius: 24px;
    background: var(--clr-gradient-1);
}

.live {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;

    width: 137px;
    padding: 10px 12px;

    color: var(--clr-green);
    border: 1px solid transparent;
    border-radius: 24px;
    background: linear-gradient(102deg, #000, #000) padding-box, linear-gradient(102deg, rgba(179, 179, 179, 0.6), rgba(77, 77, 77, 0.6)) border-box;
}

.live-circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--clr-green);
}

.subtitle {
    font-size: var(--font-subtitle);
}

:root {
    --clr-green: #9DFF3A;
    --clr-gradient-1: linear-gradient(102deg, #000, #000) padding-box, linear-gradient(102deg, rgba(179, 179, 179, 0.6), rgba(77, 77, 77, 0.6)) border-box;
    --clr-gradient-2: linear-gradient(102deg, #0F0F0F, #0F0F0F) padding-box, linear-gradient(102deg, rgba(179, 179, 179, 0.6), rgba(77, 77, 77, 0.6)) border-box;

    --clr-neutral-white: #E5E5E5;
    --clr-neutral-gray-1: #999999;
    --clr-neutral-gray-2: #4D4D4D;
    --clr-neutral-gray-3: #2E2E2E;
    --clr-neutral-gray-4: #0F0F0F;
}

:root {
    --font-title-1: 4rem;
    --font-title-2: 3rem;
    --font-title-3: 2.5rem;
    --font-subtitle: 1.25rem;
    --font-button: 1.125rem;
    --font-text-1: 1rem;
    --font-text-2: 0.875rem;
    --font-caption: 0.75rem;
}